<div class="container">
  <h1 class="main-heading">Express API Status</h1>
  <h4 class="sub-heading">Unknown &#128580;</h4>

  <button class="submit-btn">Refresh</button>
  <div class="loading"></div>
</div>

<script src="script.js"></script>